body{
    background-color: azure;
    background-image: url(depositphotos_16019251-stock-photo-retro-abstract-background-vintage-grunge.jpg);

    
}
.gato{
    width:30% ;
}
.miu{
    width: 30%;
}
.lili{
    width: 30%;
}
.duda{
    width: 30%;
}
   .xuxa{
    width: 10%;
   }

   
